<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IAccountManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Support.Commerce.XA.Foundation.Connect.Managers.AccountManager, Sitecore.Support.476724" patch:instead="*[@implementationType='Sitecore.Commerce.XA.Foundation.Connect.Managers.AccountManager, Sitecore.Commerce.XA.Foundation.Connect']" lifetime="Singleton"/>
        </services>
    </sitecore>
</configuration>